
.main {
 background-image: url("../../public/background.jpg");
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 width: 100vw;
 height: 100vh;
}

.gradient {
  background: linear-gradient(
    to top,
    rgba(83, 136, 129, 0.5),
    rgba(0, 212, 255, 0.5)
  );
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

